@font-face {
    font-family: "PS2P";
    src: url("materials/P2SP.ttf");
}
body {
    box-sizing: border-box;
    font-weight: 100;

}
html {
    background-size: cover;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9afe0493484903.5e66500f8dea4.gif") no-repeat center;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#root {
    height: 100%;
    width: 100%;
}